/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-griffins-tools-search-modal {
    border: 1px dashed #007BFF;
    padding: 10px;
    background: #f0f8ff;
}
