/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .gt-search-modal {
    width: 100%;
    text-align: center;
}
/* ------------- SEARCH-MODAL ------------------ */
.hrdc-search-modal .btn{
	background:var(--sm-btn-bg,#147278);   /* outrank theme */
	color:#fff           !important;
	border:none          !important;
	border-radius:8px    !important;
	padding:10px 24px    !important;
	font-size:var(--sm-btn-size,16px) 
}
